table(width='100%' border='0' cellspacing='0' cellpadding='0')
    tr
        td.p30-15(style='padding: 35px 0px;')
            table(width='100%' border='0' cellspacing='0' cellpadding='0')
                tr
                    th.column(width='200' style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;')
                        table(width='100%' border='0' cellspacing='0' cellpadding='0')
                            tr
                                td.text-top.m-center(style='color:#999999; font-family:Arial, sans-serif; font-size:12px; line-height:16px; text-align:left; min-width:auto !important;')
                    th.column(style='padding-bottom:20px !important; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;' width='1')
                    th.column(style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;')
                        table(width='100%' border='0' cellspacing='0' cellpadding='0')
                            tr
                                td.img-center(style='font-size:0pt; line-height:0pt; text-align:center;')
                                    img(src=`https://GeoPlaces.com/files/site/logo.png` width='142' height='68' border='0' alt='')
                    th.column(style='padding-bottom:20px !important; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;' width='1')
                    th.column(width='200' style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;')