doctype html
html(xmlns='http://www.w3.org/1999/xhtml' xmlns:v='urn:schemas-microsoft-com:vml' xmlns:o='urn:schemas-microsoft-com:office:office')
  head
    meta(http-equiv='Content-type' content='text/html; charset=utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='format-detection' content='date=no')
    meta(name='format-detection' content='address=no')
    meta(name='format-detection' content='telephone=no')
    meta(name='x-apple-disable-message-reformatting')
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i' rel='stylesheet')
    title Failure Email
    style(type='text/css' media='screen').
      /* Linked Styles */
      body { padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:#efefef; -webkit-text-size-adjust:none }
      a { color:#01273e; text-decoration:none }
      p { padding:0 !important; margin:0 !important } 
      img { -ms-interpolation-mode: bicubic; /* Allow smoother rendering of resized image in Internet Explorer */ }
      .mcnPreviewText { display: none !important; }
      /* Mobile styles */
      @media only screen and (max-device-width: 480px), only screen and (max-width: 480px) {
      u + .body .gwfw { width:100% !important; width:100vw !important; }
      .m-shell { width: 100% !important; min-width: 100% !important; }
      .m-center { text-align: center !important; }
      .center { margin: 0 auto !important; }
      .nav { text-align: center !important; line-height: 26px !important; }
      .h2 { font-size: 26px !important; line-height: 34px !important; }
      .bg { height: auto !important; -webkit-background-size: cover !important; background-size: cover !important; width: 100% !important; }
      .td { width: 100% !important; min-width: 100% !important; }
      .m-br-15 { height: 15px !important; }
      .p30-15 { padding: 30px 15px !important; }
      .p15 { padding: 15px !important; }
      .h-auto { height: auto !important; }
      .pb30 { padding-bottom: 30px !important; }
      .p0-10 { padding: 0px 10px !important; }
      .p0 { padding: 0px !important; }
      .m-td,
      .m-hide { display: none !important; width: 0 !important; height: 0 !important; font-size: 0 !important; line-height: 0 !important; min-height: 0 !important; }
      .m-height { height: auto !important; }
      .m-block { display: block !important; }
      .fluid-img img { width: 100% !important; max-width: 100% !important; height: auto !important; }
      .column,
      .column-top,
      .column-dir,
      .column-bottom,
      .column-dir-top,
      .column-dir-bottom { float: left !important; width: 100% !important; display: block !important; }
      .content-spacing { width: 15px !important; }
      }
  body.body(style='padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:#efefef; -webkit-text-size-adjust:none;')
    table.gwfw(width='100%' border='0' cellspacing='0' cellpadding='0' bgcolor='#efefef')
      tr
        td.p0-10(align='center' valign='top')
          // Main
          table(width='100%' border='0' cellspacing='0' cellpadding='0')
            tr
              td.pb0(align='center' style='padding-bottom: 40px;')
                // Shell
                table.m-shell(width='650' border='0' cellspacing='0' cellpadding='0')
                  tr
                    td
                      // Header
                      include _partial/header.pug
                      // END Header
                      // Main
                      table(width='100%' border='0' cellspacing='0' cellpadding='0')
                        tr
                          td(style='padding-bottom: 10px;')
                            table(width='100%' border='0' cellspacing='0' cellpadding='0')
                              tr
                                td.p30-15(style='padding: 60px 40px 20px 40px; border-radius: 10px 10px 10px 10px;' bgcolor='#ffffff')
                                  // Article / Title + Full-Width image + Copy + Button
                                  div
                                    table(width='100%' border='0' cellspacing='0' cellpadding='0')
                                      tr
                                        td.h3.center(style='padding-bottom: 30px; color:#333333; font-family:Arial, sans-serif; font-size:22px; line-height:30px; font-weight:100; text-align:center;') Subject: #{subject}
                                          br
                                      if error
                                        tr
                                          td.text.center(style='padding-bottom: 0px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; min-width:auto !important; text-align:center;') Error: #{error}
                                          br
                                      if payload
                                        tr
                                          td.text.center(style='padding-bottom: 0px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; min-width:auto !important; text-align:center;') Payload: #{payload}
                      // END Main
                      // Footer
                      include _partial/footer.pug
                      // END Footer
                      // END Shell
                      // END Main
